---
import '../global.css';
import '@fontsource-variable/montserrat';

export interface Props {
  title: string;
  description?: string;
  url?: string;
  image?: string;
  author?: string;
}

const {
  title,
  description = 'AR Mainecoons',
  url = import.meta.env.SITE
    ? `${import.meta.env.SITE}${Astro.url.pathname}`
    : undefined,
  image,
  author = 'AR Mainecoons',
} = Astro.props as Props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
    <meta name="description" content={description} />
    {url && <link rel="canonical" href={url} />}

    <link rel="icon" href="/paw-solid-green.svg" />

    <meta name="generator" content={Astro.generator} />

    <meta property="og:type" content="website" />
    {author && <meta property="og:site_name" content={author} />}
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {url && <meta property="og:url" content={url} />}
    {image && <meta property="og:image" content={image} />}

    <meta
      name="twitter:card"
      content={image ? 'summary_large_image' : 'summary'}
    />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    {image && <meta name="twitter:image" content={image} />}

    <script type="application/ld+json">
      {JSON.stringify({
        '@context': 'https://schema.org',
        '@type': 'Organization',
        name: author,
        url,
        logo: image ?? `${import.meta.env.SITE}/paw-solid-green.svg`,
      })}
    </script>

    <script defer src="/js/gallery.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
